body {
  background-color: #ffe6e6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #4a4c4f;
}
.jumbotron, h1{
  background-color: inherit;
  text-align: center;
  font-family: 'Kosugi', sans-serif;
}
h2{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.wrapper-header{
  margin: 5em;
  border-top: 1px solid #417fe2;
}
.jumbotron, h2, h1{
    color: #417fe2;
}
#img-amelia{
  float: left;
  width: 250px;
  height: auto;
  margin-right: 5%;

}
.nav {
  background-color: #417fe2;
  color: #171819;
}
a{
  color:#171819;
}
